header, content, footer { display: block; }

html { 
    height: 100%; margin: 0; padding: 0; 
    background: url(../img/gradient.png);
}


body {
    background: url(../img/stripe-2.png);
    margin: 0;
    padding: 1em 0;
    min-height: 100%;
}

.bigger {
    width: 160px;
}

.divider {
    position: relative;
    top: 1.5em;
    background: url(../img/div.png) no-repeat;
    min-height: 30px;
    width: 900px;
    padding: 0 2em;
    margin-left: -2em;
}

.body { 
    width: 900px; 
    margin: 0 auto;
    padding: 2em;
    border-radius: 30px;
    border: 3px solid #75bdd2;
    background: white;
    font-family: 'Droid Sans', sans-serif;
}


ol {
    padding-left: 15px;
}
ol li {
    font-size: 1em;
    font-color: #444;
    list-style: none;
    clear: both;
} ol li span {
    height: 80px;
    display: block;
    font-size: 2em;
    float: left;
    color: #e5a316;
    font-weight: bold;
} ol li p {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    margin-left: 15px;
    float: left;
    width: 310px;
    background-color: #ccc;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #99cee0;
    color: #113648;
    border: 1px solid #99cee0;
    padding: 10px;
} li.space {
    padding-top: 1em;
}


h1,h2,h3,h4,h5,h6 { font-weight: normal; }
p, ul>li { line-height: 1.5; font-size: .9em; }

.left-col>ul>li>span {
    font-size: .75em;
    background: #EFAE23;
    color: white;
    padding: 3px;
}

.msg { font-size: .8em; color: green; }

h3.space {
    margin-left: 15px;
}

header {
    margin-bottom: 1em;
    padding-bottom: .5em;
} header>a>img { 
    float: left; 
    margin-top: -10px; 
}

header nav {
    font-size: .9em;
    float: right;
    margin-top: 25px;
    margin-right: 15px;
} header>nav a {
    padding: 15px; 
    color: #444;
    -moz-transition: .3s color .1s;
} header>nav a:hover {
    color: #e5a316;
    text-decoration: none;
}

h1 {
    text-shadow: 0px 0px 1px #aaa;
    margin-top: 1em;
} 

content, footer {
    clear: both;
}

footer { 
    display: block;
    font-size: .9em;
    margin-bottom: 12px;
    height: 50px;
}

footer nav {
    width: 33%;
    float: left;
    text-align: center;
    margin-top: 25px;
}

footer nav>a {
    padding: 15px;
    color: #e5a316;
}


.copyright {
    margin-top: 25px;
    text-align: right;
    float: right;
    width: 33%;
}

.social {
    text-align: left;
    width: 33%;
    margin-top: 25px;
    float: left;
}

.left-col {
    float: left;
    width: 43%;
}


/* Form stuff */

.right-col {  
    float: right;
    width: 50%;
    position: relative;
}

label {
    display: inline-block;
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: 10px;
    clear: right;
}

label.clarifier {
    display: inline-block;
    font-size: .66em;
    color: #e5a316;
}

input, textarea {
    width: 110px;
    padding: 8px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -moz-transition: 
        border .1s linear .1s,
        background .1s linear .1s,
    ;  
    float: right;
    margin-top: -4px;
} 

input:focus,textarea:focus {
    border: 1px solid #2cc2f9;
    background: -moz-linear-gradient(top,  #eee,  #fff);
} input:focus {
}

textarea {
    width: 180px;
    height: 93px;
    margin-bottom: 12px;
}

input[type=checkbox] {
    padding: 3px;
    float: none;
} label[for='agreed'] {
    text-transform: none !important;
}

.buttons {
    margin-top: -10px;
}
button, .qq-upload-button {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: .7em !important;
    font-weight: bold;
    border: 2px solid #222;
    cursor: pointer;
    border-top: 3px solid #efae23;
    text-shadow: 1px 1px 1px #000;
    padding: 5px 20px; 
    text-transform: uppercase;
    text-decoration: none;
    background: #333;
    margin-left: 3px;
    background: -moz-linear-gradient(top,  #333,  #222);
    -moz-transition: 
        padding .1s linear .1s,
        margin .1s linear .1s,
        border .1s linear .1s,
        background .1s linear .1s
    ;  
}

button:hover {
    background: -moz-linear-gradient(top,  #222,  #333);
    margin-left: 0;
    border-top: 3px solid #2cc2f9;
    padding: 5px 22px;
}

fieldset {
    padding: 5px 25px;
    background: #eee;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-top: -10px;
}

fieldset.contact {
    width: 69%;
}

.add-track-form {
    padding-top: 15px;
    padding-bottom: 0;
    width: 100%;
}
.add-track-form input { float: left; font-size: .7em; }
.add-track-form .qq-upload-button {
}

.dialog-wrapper {
    position: absolute;
    z-index: 9;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: .8;
}
#track-name-dialog {
    display: none;
    position: absolute;
    background-color: #eee;
    left: 40%;
    right: 40%;
    top: 40%;
    z-index: 10;
    border-radius: 15px;
    border: 3px solid #75BDD2;
    padding: 15px;
    font-weight: bold;
} #track-name-dialog input {
    float: none !Important;
    width: 160px;
} #track-name-dialog label {
    font-size: .7em;
}


/* General classes */

.error { color: red; }
content img { 
    display: block;
    margin: 0 auto;
}

.intro {
    width: 900px;
    padding: 1em 2em;
    margin-left: -2em;
    right: 3px;
    font-size: 1em;
    color: #fff;
    background: #333;   
    position: relative;
    border-left: 3px solid #222;
    border-right: 3px solid #222;
    border-top: 2px solid #efae23; 
    border-bottom: 2px solid #efae23;
    text-shadow: 1px 1px 1px #000;
    background: -moz-linear-gradient(top,  #222,  #333);
}

a { color: #efae23;
    text-decoration: none; white-space: nowrap; }
a:hover { text-decoration: underline; }

a.box {
    color: #efae23;
    font-weight: normal;
} a.box:hover {
}

.small-copy {
    margin-top: 1em;
    padding-top: 1em;
    text-align: left; 
    font-size: .7em !important;
}

.clear { clear: both; }

ul.artists {
    padding-left: 0;
} ul.artists>li {
    margin-top: 10px;
    list-style: none;
} ul.artists>li>strong {
    background: #99cee0;
    color: #113648;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.tracks {
    margin-top: 10px;
    list-style: none;
    padding-left: 10px;
} .tracks>li {
    padding-bottom: 5px;
    margin-bottom: 5px;
} .tracks a {
    background: green;
    color: white;
    padding: 3px;
} .tracks a.listen {
    background: #efae23;
} .tracks a.disapprove {
    background: red;
}
